+++
title = "OSINT"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_the_scam5/">Pwn The Scam 5 - Forget me and leak me not</a></h4>
            <p>Aperi'CTF - OSINT (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_the_scam4/">Pwn The Scam 4 - Archived</a></h4>
            <p>Aperi'CTF - OSINT (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_the_scam3/">Pwn The Scam 3 - Blog</a></h4>
            <p>Aperi'CTF - OSINT (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_the_scam2/">Pwn The Scam 2 - Not so hidden</a></h4>
            <p>Aperi'CTF - OSINT (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_the_scam1/">Pwn The Scam 1 - Find Me</a></h4>
            <p>Aperi'CTF - OSINT (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/hey_dj/">Hey DJ</a></h4>
            <p>Aperi'CTF - OSINT (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/elliot/">Elliot</a></h4>
            <p>Aperi'CTF - OSINT (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/nullcon_2018/osint4/">OSINT4</a></h4>
            <p>Nullcon Hackim 2018 - OSINT (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/nullcon_2018/osint3/">OSINT3</a></h4>
            <p>Nullcon Hackim 2018 - OSINT (300 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/nullcon_2018/osint2/">OSINT2</a></h4>
            <p>Nullcon Hackim 2018 - OSINT (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/nullcon_2018/osint1/">OSINT1</a></h4>
            <p>Nullcon Hackim 2018 - OSINT (100 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
