{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
  <div id="main">
    <div id="hero">
      <h1>{{ .Title}}</h1>
    </div>
    {{ .Content}}
    </div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}

