+++
title = "Miscellaneous"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/x32_assembler/">x32 Assembler</a></h4>
            <p>Aperi'CTF 2019 - MISC (375 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/x32_emulator/">x32 Emulator</a></h4>
            <p>Aperi'CTF 2019 - MISC (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/porte_blindee/">Porte blindée</a></h4>
            <p>Aperi'CTF 2019 - MISC (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/x32_advanced/">x32 Advanced</a></h4>
            <p>Aperi'CTF 2019 - MISC (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/x32_intro/">x32 Intro</a></h4>
            <p>Aperi'CTF 2019 - MISC (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/emoji/">Émoji 🥳</a></h4>
            <p>Aperi'CTF 2019 - MISC (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/aperibot/">Aperi'Bot - Welcome</a></h4>
            <p>Aperi'CTF 2019 - MISC (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/shortcircuit/">Short Circuit</a></h4>
            <p>CSAW'18 CTF Qualification - MISC (75 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/algebra/">Algebra</a></h4>
            <p>CSAW'18 CTF Qualification - MISC (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/interference/">Interference</a></h4>
            <p>TJCTF 2018 - MISC (15 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/mirror_mirror/">Mirror Mirror</a></h4>
            <p>TJCTF 2018 - Miscellaneous (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2018/enum/">Enum</a></h4>
            <p>TAMUctf 2018 - MISC (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/nullcon_2018/misc2/">MISC2</a></h4>
            <p>Nullcon Hackim 2018 - MISC (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/acebear_2018/memory/">Memory</a></h4>
            <p>AceBear 2018 - Forensic / MISC (951 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/acebear_2018/myidol/">MyIdol</a></h4>
            <p>AceBear 2018 - MISC (971 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
