
{{ if and (.IsNode) (.Site.Params.images) }}  <meta property="og:image" content="{{ index .Site.Params.images 0 }}">{{ end }}
  <meta property="og:image" content="/img/logo.png"/>
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:image" content="http://www.aperikube.fr/img/logo.png"/>
{{ if and (.IsPage) (not .Params.images) (.Site.Params.images) }}  <meta property="og:image" content="{{ index .Site.Params.images 0 }}">{{ end }}
