+++
title = "Reverse Engineering"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/x32_binary/">x32 Binary</a></h4>
            <p>Aperi'CTF 2019 - Reverse (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/alien/">Alien crackme</a></h4>
            <p>Aperi'CTF 2019 - Reverse (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/u_u/">U_u</a></h4>
            <p>Aperi'CTF 2019 - Reverse (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/its_a_sign/">It's a SIGn</a></h4>
            <p>Aperi'CTF 2019 - Reverse (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/mov_your_asm/">Mov your ASM</a></h4>
            <p>Aperi'CTF 2019 - Reverse (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/dont_argue_w_me/">Don't argue with me</a></h4>
            <p>Aperi'CTF 2019 - Reverse (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/alien/">Alien</a></h4>
            <p>Aperi'CTF 2019 - Reverse (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/werizchacha/">Werizchacha</a></h4>
            <p>BreizhCTF 2019 - RE (25 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/roxog/">Roxog</a></h4>
            <p>BreizhCTF 2019 - RE (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/filter/">Filter</a></h4>
            <p>BreizhCTF 2k19 - RE (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/sogeti_qual_2019/badvm/">Bad VM</a></h4>
            <p>Quals Sogeti Cyber E-scape 2019 - RE (500 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ecw_qual_2018/escape_game/">EscapeGame</a></h4>
            <p>ECW 2018 CTF Qualification - RE (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/kvm/">KVM</a></h4>
            <p>CSAW'18 CTF Qualification - RE (500 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/pythonreversing/">Python Reversing</a></h4>
            <p>TJCTF 2018 - RE (40 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/bad_cipher/">Bad Cipher</a></h4>
            <p>TJCTF 2018 - RE (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/diablo2/">Diablo, fighting Lazarus...</a></h4>
            <p>NDH 2018 - RE (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/diablo1/">Diablo, your quest begin</a></h4>
            <p>NDH 2018 / RE (350 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/geode/">Geode</a></h4>
            <p>NDH 2018 / RE</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/ghostinthepowershell/">ghostinthepowershell</a></h4>
            <p>NDH 2018 / RE</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/autocrackit/">AutoCrackIt</a></h4>
            <p>NDH 2018 - RE (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/multiplat/">Multiplat</a></h4>
            <p>BreizhCTF 2018 - RE (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/inshack_2018/visual_hashing_hard/">Visual Hashing Hard</a></h4>
            <p>Ins'Hack 2018 - RE/Prog</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/xiomara_2018/re4/">Slammer</a></h4>
            <p>Xiomara CTF 2018 - RE (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/xiomara_2018/re1/">Fortune Jack</a></h4>
            <p>Xiomara CTF 2018 - RE (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/easyctf_2018/pixelly/">Pixelly</a></h4>
            <p>EasyCTF 2018 - RE (220 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
