+++
title = "Forensic"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/aperivp/">Aperi'VP</a></h4>
            <p>Aperi'CTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/backdoor-333/">Backdoor-333</a></h4>
            <p>Aperi'CTF 2019 - Forensic (375 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/dont_pay_ransom/">Don't pay ransom</a></h4>
            <p>Aperi'CTF 2019 - Forensic (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/oprikube/">OP'Rikube</a></h4>
            <p>Aperi'CTF 2019 - Forensic (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pay2load/">Pay2Load</a></h4>
            <p>Aperi'CTF 2019 - Forensic (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pick_up_the_phone_1/">Pick up the phone 1</a></h4>
            <p>Aperi'CTF 2019 - Forensic (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pick_up_the_phone_2/">Pick up the phone 2</a></h4>
            <p>Aperi'CTF 2019 - Forensic (1O0 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/web_logs/">Web logs</a></h4>
            <p>Aperi'CTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/0intrusion/">MicroServices - 0_Intrusion</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/1logs/">MicroServices - 1_Logs</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/2analysis/">MicroServices - 2_Analysis</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/3forensics/">MicroServices - 3_Forensics</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/4persistence/">MicroServices - 4_Persistence</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/0networkenumeration/">ReadingRainbow - 0_Network_Enumeration</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/1discovery/">ReadingRainbow - 1_Discovery</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/2exfiltration/">ReadingRainbow - 2_Exfiltration</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2019/3data/">ReadingRainbow - 3_Data</a></h4>
            <p>TamuCTF 2019 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/moarturtles/">Moar Turtles</a></h4>
            <p>TJCTF 2018 - Forensic (80 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/wewillrockyou/">We will rock you</a></h4>
            <p>TJCTF 2018 - Forensic (75 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/virusvolatile/">Volatile virus</a></h4>
            <p>TJCTF 2018 - Forensic (130 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/ssleepy/">Ssleepy</a></h4>
            <p>TJCTF 2018 - Forensic (70 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/gridparser/">Grid parser</a></h4>
            <p>TJCTF 2018 - Forensic (45 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/infected/">Infected</a></h4>
            <p>NDH 2018 - Forensic (550 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/perdu/">Perdu</a></h4>
            <p>NDH 2018 - Forensic (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndh_2018/icmp/">ICMP</a></h4>
            <p>NDH 2018 - Forensic (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/pragyan_2018/ears_to_the_rescue/">Ears to the rescue</a></h4>
            <p>Pragyan CTF 2018 - Forensic (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/xiomara_2018/dig_deep/">Dig Deep</a></h4>
            <p>Xiomara CTF 2018 - Forensic (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/acebear_2018/memory/">Memory</a></h4>
            <p>AceBear 2018 - Forensic / MISC (951 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
