+++
title = "Web"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2020/too_many_credits/">Too Many Credits</a></h4>
            <p>TAMUctf 2020 - Web (432 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/worldmeet/">Worldmeet</a></h4>
            <p>Aperi'CTF 2019 - Web (650 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/js_injection/">JS Injection</a></h4>
            <p>Aperi'CTF 2019 - Web (375 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/tmnt/">TMNT</a></h4>
            <p>Aperi'CTF 2019 - Web (300 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/oracle/">Oracle</a></h4>
            <p>Aperi'CTF 2019 - Web (300 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/hell_no_php/">Hell no php</a></h4>
            <p>Aperi'CTF 2019 - Web (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/js_art/">JS Art</a></h4>
            <p>Aperi'CTF 2019 - Web (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/what_the_auth/">What the auth</a></h4>
            <p>Aperi'CTF 2019 - Web (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/andrologger/">Andrologger</a></h4>
            <p>Aperi'CTF 2019 - Web (125 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/aperisolve_v0/">Aperi'Solve v0</a></h4>
            <p>Aperi'CTF 2019 - Web (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/sometimes/">Sometimes</a></h4>
            <p>Aperi'CTF 2019 - Web (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/primera/">Primera sangra</a></h4>
            <p>BreizhCTF 2019 - Web (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/octogone/">OctogoneBoobaKaarris</a></h4>
            <p>BreizhCTF 2019 - Web (75 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/picoctf_2018/asimplequestion/">A Simple Question</a></h4>
            <p>picoCTF 2018 - Web (650 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/sso/">SSO</a></h4>
            <p>CSAW'18 CTF Qualification - Web (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/ess_kyoo_ell/">Ess Kyoo Ell</a></h4>
            <p>TJCTF 2018 - Web (40 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/stupid_blog/">Stupid Blog</a></h4>
            <p>TJCTF 2018 - Web (130 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/securifest_2018/excess_ess_1/">Excess Ess 1</a></h4>
            <p>Security Fest CTF 2018 - Web</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/ndhquals_2018/pixeditor/">PixEditor</a></h4>
            <p>Quals NDH 2018 - Web</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/angstromctf_2018/filestorer/">File Storer</a></h4>
            <p>AngstromCTF 2018 - Web</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/easyctf_2018/fumblr/">Fumblr</a></h4>
            <p>EasyCTF 2018 - Web (275 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/acebear_2018/bearshare/">BearShare 1 & 2</a></h4>
            <p>AceBear 2018 - Web (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/acebear_2018/urlparameter/">Urlparameter</a></h4>
            <p>AceBear 2018 - Web (100 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
