+++
title = "Cryptography"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tamuctf_2020/652ahs/">652AHS</a></h4>
            <p>TAMUctf 2020 - Cryptography (440 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/black_box/">Black Box</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/double_trouble/">Double Trouble</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/not_funny/">Not Funny</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/real_spy_agent/">Real Spy Agent</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/secure_remote_password/">Secure Remote Password</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/simple_basique/">Simple Basique</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/sounds_weird/">Sounds weird</a></h4>
            <p>Aperi'CTF 2019 - Cryptography (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/inshack_2019/jean_seb_bash/">Jean Sébatien Bash</a></h4>
            <p>INS’HACK 2019 - Cryptography (182 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/lowe/">lowe</a></h4>
            <p>CSAW'18 CTF Qualification - Cryptography (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/permutation/">Permutations</a></h4>
            <p>TJCTF 2018 - Cryptography (70 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/easyctf_2018/rsa_v/">RSA V</a></h4>
            <p>EasyCTF 2018 - Cryptography (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/easyctf_2018/not_otp/">Not OTP</a></h4>
            <p>EasyCTF 2018 - Cryptography (100 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
