+++
title = "Steganography"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/the_image_speaks_for_itself/">L'image parle d'elle meme</a></h4>
            <p>Aperi'CTF 2019 - Steganography (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/sudo_ku/">Sudo ku</a></h4>
            <p>Aperi'CTF 2019 - Steganography (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/i_need_a_new_track_now/">I need a new track now</a></h4>
            <p>Aperi'CTF 2019 - Steganography (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/trip_to_space/">Trip to space</a></h4>
            <p>Aperi'CTF 2019 - Steganography (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/cats_eyes/">Cat's Eyes</a></h4>
            <p>Aperi'CTF 2019 - Steganography (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/special_cookie_recipe/">Special cookie recipe</a></h4>
            <p>Aperi'CTF 2019 - Steganography (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pickit/">Pickit</a></h4>
            <p>Aperi'CTF 2019 - Steganography (450 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/sogeti_qual_2019/stepbystep/">Step by Step</a></h4>
            <p>Quals Sogeti Cyber E-scape 2019 - Steg (495 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/pitormiss/">PIT or Miss</a></h4>
            <p>TJCTF 2018 - Steganography (80 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/tjctf_2018/interference/">Interference</a></h4>
            <p>TJCTF 2018 - MISC (15 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/pragyan_2018/pictorial_mess/">Pictorial mess</a></h4>
            <p>Pragyan CTF 2018 - Steganography (300 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
