+++
title = "Pwn"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/java_jail/">Java-jail</a></h4>
            <p>Aperi'CTF 2019 - Pwn (450 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/bin_army/">Bin Army</a></h4>
            <p>Aperi'CTF 2019 - Pwn (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/crazy_machine/">Crazy Machine</a></h4>
            <p>Aperi'CTF 2019 - Pwn (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_run_see_1/">Pwn-Run-See - Part 1</a></h4>
            <p>Aperi'CTF 2019 - Pwn (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/pwn_run_see_2/">Pwn-Run-See - Part 2</a></h4>
            <p>Aperi'CTF 2019 - Pwn (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/inshack_2019/hell_of_a_jail/">hell_of_a_jail</a></h4>
            <p>INS’HACK 2019 - Pwn (78 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/tinyshell/">Tiny Shell</a></h4>
            <p>BreizhCTF 2019 - Pwn (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/esaip_2019/feedme/">Feed Me</a></h4>
            <p>ESAIP 2019 - Pwn (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/pragyan_2019/armoury/">Armoury</a></h4>
            <p>Pragyan CTF 2019 - Pwn (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/picoctf_2018/contacts/">Contacts</a></h4>
            <p>picoCTF 2018 - Pwn (850 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/shellcode/">shell->code</a></h4>
            <p>CSAW'18 CTF Qualification - Pwn (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/bigboi/">Bigboy</a></h4>
            <p>CSAW'18 CTF Qualification - Pwn (25 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/mips/">MIPS</a></h4>
            <p>BreizhCTF 2018 - Pwn (400 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/insomnihack_teaser_2018/onecall/">OneCall</a></h4>
            <p>Insomni'hack Teaser 2018 - Pwn (69 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
