  <footer id="footer">
    <nav>
      <ul>
        <li><span>Kube</span></li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Follow us on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>
