+++
title = "Mobile"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/my_backdoored_gallery/">My Backdoored Gallery</a></h4>
            <p>Aperi'CTF 2019 - Mobile (250 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/heap_introspection/">Heap Introspection</a></h4>
            <p>Aperi'CTF 2019 - Mobile (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/fuck_it/">F*ck it</a></h4>
            <p>Aperi'CTF 2019 - Mobile (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/is_this_real_crypto/">Is this real crypto</a></h4>
            <p>Aperi'CTF 2019 - Mobile (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/clipboard_jacking/">Clipboard Jacking</a></h4>
            <p>Aperi'CTF 2019 - Mobile (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/uutctf_2019/weird_app/">WeirdApp</a></h4>
            <p>WeirdApp 2019 - RE (443 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/desprecitor/">Desprecitor</a></h4>
            <p>BreizhCTF 2018 - Mobile</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/cryptonik/">Cryptonik</a></h4>
            <p>BreizhCTF 2018 - Mobile</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/babyapk/">BabyAPK</a></h4>
            <p>BreizhCTF 2018 - Mobile</p>
        </div>
    </div>
</div>
<br/><br/>
