{{ define "title"}}  {{ .Site.Title}} {{end}}
{{ define "header"}}  {{ partial "header" .}}  {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>404 - Not Found</h1>
    
  </div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
