{{ define "title"}}  {{ .Site.Title}} {{end}}
{{ define "header"}}  {{ partial "header" .}}  {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    {{ .Content}}
  </div>

  <img />

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
