+++
title = "Hardware"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/robot_cipher/">Robot Cipher</a></h4>
            <p>Aperi'CTF 2019 - Hardware (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/shortcircuit/">Short Circuit</a></h4>
            <p>CSAW'18 CTF Qualification - MISC (75 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
