+++
title = "Physical"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/robot_cipher/">Robot cipher</a></h4>
            <p>Aperi'CTF 2019 - Physical (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/can_you_decode/">CAN you decode</a></h4>
            <p>Aperi'CTF 2019 - Physical (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/hello_ducky/">Hello Ducky</a></h4>
            <p>Aperi'CTF 2019 - Physical (50 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/rubber_putty/">Rubber Putty</a></h4>
            <p>Aperi'CTF 2019 - Physical (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/my_own_website/">My Own Website</a></h4>
            <p>Aperi'CTF 2019 - Physical (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/fire_ducky/">Fire Ducky</a></h4>
            <p>Aperi'CTF 2019 - Physical (175 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/aperictf_2019/golden_key/">Golden Key</a></h4>
            <p>Aperi'CTF 2019 - Physical (350 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/shortcircuit/">Short Circuit</a></h4>
            <p>CSAW'18 CTF Qualification - MISC (75 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
