+++
title = "Programming"
weight = 10
draft = false
+++
<div id="components">
    <div class="row gutters">
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/inshack_2019/proggenius/">Hack Code - Genius Level</a></h4>
            <p>INS’HACK 2019 - Prog (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/tictactoe/">Tous les chemins mènent au flag</a></h4>
            <p>BreizhCTF 2019 - Prog (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2019/crazylooper/">CrazyLooper</a></h4>
            <p>BreizhCTF 2019 - Prog (150 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/sogeti_qual_2019/challengeaccepted/">Challenge Accepted !</a></h4>
            <p>Quals Sogeti Cyber E-scape 2019 - Prog (493 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/takeanl/">Take an L</a></h4>
            <p>CSAW'18 CTF Qualification - Prog (200 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/csawquals_2018/algebra/">Algebra</a></h4>
            <p>CSAW'18 CTF Qualification - MISC (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/breizhctf_2018/breizhk0inm1n3r/">BreizhK0inM1n3r</a></h4>
            <p>BreizhCTF 2018 - Prog (100 pts)</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/inshack_2018/visual_hashing_hard/">Visual Hashing Hard</a></h4>
            <p>Ins'Hack 2018 - RE/Prog</p>
        </div>
        <div class="col col-4 item">
            <h4><a href="https://www.aperikube.fr/docs/easyctf_2018/zippity/">Zippity</a></h4>
            <p>EasyCTF 2018 - Prog (80 pts)</p>
        </div>
    </div>
</div>
<br/><br/>
